.cision-ticker-wrapper {
    padding-bottom: 20px;
}
.cision-ticker {
    text-align:center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1.25rem 2rem;
}
.cision-ticker ul {
    list-style: none;
    padding: 0;
}
.cision-ticker ul li {
    display: inline-block;
    padding: 10px;
}
.cision-ticker ul li span {
    display: block;
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .cision-ticker ul li {
        display: block;
    }
}
